<!-- <input type="checkbox" id="btn-nav" class="checkbox">
<header>
  <div class="header-container">
    <a class="navbar-title" href="#">Mean App</a>
    <img src="https://lh3.googleusercontent.com/Ax2wQYxjDITuZEpc6K9EDYPG7C839tb4PApia4Tmf18u8XehB-twqhVgDVPgxxExkr4=s180"
      alt="" class="header-logo">
    <label for="btn-nav" class="icon-login">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-dark btn-user" id="dropdownMenuButton" data-toggle="dropdown">
          <i class="fas fa-user fa-lg"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['login']">Iniciar Sesión</a>
          <a class="dropdown-item" [routerLink]="['login']">Registrarse</a>
        </div>
      </div>
    </label>
    <label for="btn-nav" class="btn-label">
      <div class="header-button"></div>
    </label>
  </div>
</header>

<nav class="menu">
  <ul>
    <li class="nav-menu">
      <a href="#" class="item-menu"> Home </a></li>
    <li class="nav-menu">
      <a href="#" class="item-menu"> About </a></li>
    <li class="nav-menu">
      <a href="#" class="item-menu"> Contact </a></li>
  </ul>
  <ul>
    <a href="#">Facebook</a>
    <a href="#">Twiter</a>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
  </ul>
</nav> -->

<a-users></a-users>

<router-outlet></router-outlet>
