/* Navegacion "navbar" */
.checkbox{
    display: none;
}
.navbar-title{
    font-size: x-large;
    font-weight: bold;
    color: #FFF;
}
.btn-user{
  color: #9E9E9E;
  background-color: transparent;
  background-image: none;
  border-color: #9E9E9E;
}
.btn-user:hover{
  color: #fff;
  background-color: #9E9E9E;
  border-color: #9E9E9E;
}
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background:rgb(121, 85, 72);
}
.header-container {
    width: 90%;
    position: relative;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .header-logo {
    width: 3rem;
    display: flex;
    margin: 1rem auto;
  }
  .btn-label {
    width: 2rem;
    height: 1.4rem;
  }
  .icon-login{
    width: 6rem;
    height: 2rem;      
  }
  .header-button {
    width: 2rem;
    height: 0.2rem;
    background: #9E9E9E;
    position: absolute;
    top: 1.9rem;  
    transition: all 0.2s;
  }
  .header-button::before,
  .header-button::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: #9E9E9E;
    position: absolute;
    top: -0.6rem;
    transition: all 0.2s;
  }
  .header-button::after {
    top: 0.6rem;
  }
  .menu {
    background: rgba(215, 204, 200, 0.87);
    width: 100%;
    position: fixed;
    z-index: 9;
    padding: 5rem 0;
    top: -30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 5rem;
    transition: all 0.5s;
  }
  ul {
    list-style: none;
    margin: 2rem;
  }
  li.nav-menu{
    margin: 0.5% 20%;
    padding: 0.5% 15%;
  }
  li.nav-menu:hover{
    background: rgba(121, 85, 72, 0.74);
    border-radius: 5rem;
    cursor: pointer;
    transition: all 1.5s;
  }
  a {
    margin: 0 1rem;
    color: #000;
    text-decoration: none;
  }
  .checkbox:checked ~ .menu {
    top: 0rem;
  }
  .checkbox:checked + header .header-container label .header-button {
    background: none;
  }
  .checkbox:checked + header .header-container label .header-button::before {
    transform: rotate(35deg);
    top: 0;
  }
  .checkbox:checked + header .header-container label .header-button::after {
    transform: rotate(-35deg);
    top: 0;
  }
  /* Fin navegacion */


  /* ====================== */