<div class="card">
  <div class="card-body">
    <form (submit)="addUsers($event)">
      <div class="input-group">
        <input type="text" name="title" [(ngModel)]="title" placeholder="Title" class="form-control">
        <span class="input-group-addmon">
          <button type="submit" class="btn btn-primary">
            Añadir User
          </button>
        </span>
      </div>
    </form>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Title</th>
      <th colspan="2">Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <input type="checkbox" [checked]="user.isDone" (click)="updateUsers(user)">
      </td>
      <td>{{user.title}}</td>
      <td><button type="button" class="btn btn-success">Editar</button></td>
      <td><button type="button"(click)="deleteUsers(user._id)" class="btn btn-danger">Eliminar</button></td>
    </tr>
  </tbody>
</table>
